html {
    font-size: 10px;
}

body, html {
    background-image: url('./assets/images/drDreBackground.jpeg');
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-repeat: no-repeat;
    height: 100vh
}

.keysRack {
    min-height: 60vh;
    align-items: center;
    font-family: sans-serif;
}

.keys {
    display: flex;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

kbd {
    display: block;
    font-size: 2em !important;
    background-color: rgba(0,0,0,0.2) !important;
    text-shadow: 0 0 .5rem black;
    font-weight: 600;
}

.header {
    color: white;
    font-size: 2em;
    background: rgba(0,0,0,0.4);
}

.header p {
    text-shadow: 2px 2px 10px #ffc600;

}

.header h1 {
    letter-spacing: 4px;
    text-shadow: 2px 2px 10px #ffc600;
    font-size: 2.5em;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

@media screen and (min-width: 530px){
    body, html {
        background-image: url('./assets/images/drDreBackground2.jpeg');
    }
    .header h1 {
        font-size: 3em;
    }
}